---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-family: "BoonJot";

@font-face {
  font-family: $font-family;
  src: url('../fonts/BoonJot-400.woff2') format('woff2'),
       url('../fonts/BoonJot-400.woff') format('woff'),
       url('../fonts/BoonJot-400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin ot-feature($argument) {
  @include vendor-prefix(font-feature-settings, #{$argument})
}

html {
  @include ot-feature('"locl", "liga", "kern" on');
}

.ss01,
[lang|="pi"],
[lang|="sa"],
[lang|="ro"],
[lang|="mo"] {
  @include ot-feature('"ss01"');
}

.tnum {
  @include ot-feature('"tnum"');
}

.pnum {
  @include ot-feature('"pnum"');
}

.sups {
  @include ot-feature('"sups"');
}

.subs {
  @include ot-feature('"subs"');
}

.numr {
  @include ot-feature('"numr"');
}

.dnom {
  @include ot-feature('"dnom"');
}

.frac {
  @include ot-feature('"frac"');
}

// Our variables
$base-font-family: $font-family;
$base-font-size:   24px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        840px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
