# temp dirs
*bak
*temp*
*~
*.DS_Store
*.swp
*.psd
*.svg
*.bak

# FontForge backup files
*.sfd-*

# Binary files
#*.otf
sources/*.ttf
#*.woff
#*.woff2

# Jekyll
*.sass-cache
*_site

*.*~
components/*
.sass-cache/*

*backup/*
*.sfd-*
*/unhinted/*
*-temp*
*-backup*
*.bak

# Package
BoonJot-v*.zip
sfd/*
