<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <!-- First Four Glyphs in Fonts -->
    <!-- http://www.microsoft.com/typography/otspec/recom.htm -->
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>space</key>
    <string>space.glif</string>

    <key>uni0009</key>
    <string>uni0009.glif</string>

    <!-- ASCII -->
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>

    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>

    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>

    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>

    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>

    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>

    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>

    <!-- ISO/IEC 8859-11 + Windows-874 & Mac OS Thai -->
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>

    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni2060</key>
    <string>uni2060.glif</string>

    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>

    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>

    <!-- Thai -->
    <key>uni0E01</key>
    <string>uni0E_01.glif</string>
    <key>uni0E02</key>
    <string>uni0E_02.glif</string>
    <key>uni0E03</key>
    <string>uni0E_03.glif</string>
    <key>uni0E04</key>
    <string>uni0E_04.glif</string>
    <key>uni0E05</key>
    <string>uni0E_05.glif</string>
    <key>uni0E06</key>
    <string>uni0E_06.glif</string>
    <key>uni0E07</key>
    <string>uni0E_07.glif</string>
    <key>uni0E08</key>
    <string>uni0E_08.glif</string>
    <key>uni0E09</key>
    <string>uni0E_09.glif</string>
    <key>uni0E0A</key>
    <string>uni0E_0A_.glif</string>
    <key>uni0E0B</key>
    <string>uni0E_0B_.glif</string>
    <key>uni0E0C</key>
    <string>uni0E_0C_.glif</string>
    <key>uni0E0D</key>
    <string>uni0E_0D_.glif</string>

    <key>uni0E0D.rd</key>
    <string>uni0E_0D_.rd.glif</string>
    
    <key>uni0E0E</key>
    <string>uni0E_0E_.glif</string>
    <key>uni0E0F</key>
    <string>uni0E_0F_.glif</string>
    <key>uni0E10</key>
    <string>uni0E_10.glif</string>

    <key>uni0E10.rd</key>
    <string>uni0E_10.rd.glif</string>
    
    <key>uni0E11</key>
    <string>uni0E_11.glif</string>
    <key>uni0E12</key>
    <string>uni0E_12.glif</string>
    <key>uni0E13</key>
    <string>uni0E_13.glif</string>
    <key>uni0E14</key>
    <string>uni0E_14.glif</string>
    <key>uni0E15</key>
    <string>uni0E_15.glif</string>
    <key>uni0E16</key>
    <string>uni0E_16.glif</string>
    <key>uni0E17</key>
    <string>uni0E_17.glif</string>
    <key>uni0E18</key>
    <string>uni0E_18.glif</string>
    <key>uni0E19</key>
    <string>uni0E_19.glif</string>
    <key>uni0E1A</key>
    <string>uni0E_1A_.glif</string>
    <key>uni0E1B</key>
    <string>uni0E_1B_.glif</string>
    <key>uni0E1C</key>
    <string>uni0E_1C_.glif</string>
    <key>uni0E1D</key>
    <string>uni0E_1D_.glif</string>
    <key>uni0E1E</key>
    <string>uni0E_1E_.glif</string>
    <key>uni0E1F</key>
    <string>uni0E_1F_.glif</string>
    
    <key>uni0E20</key>
    <string>uni0E_20.glif</string>
    <key>uni0E21</key>
    <string>uni0E_21.glif</string>
    <key>uni0E22</key>
    <string>uni0E_22.glif</string>
    <key>uni0E23</key>
    <string>uni0E_23.glif</string>
    <key>uni0E24</key>
    <string>uni0E_24.glif</string>
    
    <key>uni0E240E45.liga</key>
    <string>uni0E_240E_45.liga.glif</string>

    <key>uni0E25</key>
    <string>uni0E_25.glif</string>
    <key>uni0E26</key>
    <string>uni0E_26.glif</string>

    <key>uni0E260E45.liga</key>
    <string>uni0E_260E_45.liga.glif</string>

    <key>uni0E27</key>
    <string>uni0E_27.glif</string>
    <key>uni0E28</key>
    <string>uni0E_28.glif</string>
    <key>uni0E29</key>
    <string>uni0E_29.glif</string>
    <key>uni0E2A</key>
    <string>uni0E_2A_.glif</string>
    <key>uni0E2B</key>
    <string>uni0E_2B_.glif</string>
    <key>uni0E2C</key>
    <string>uni0E_2C_.glif</string>
    <key>uni0E2D</key>
    <string>uni0E_2D_.glif</string>
    <key>uni0E2E</key>
    <string>uni0E_2E_.glif</string>
    <key>uni0E2F</key>
    <string>uni0E_2F_.glif</string>

    <key>uni0E30</key>
    <string>uni0E_30.glif</string>
    <key>uni0E31</key>
    <string>uni0E_31.glif</string>
    <key>uni0E32</key>
    <string>uni0E_32.glif</string>
    <key>uni0E33</key>
    <string>uni0E_33.glif</string>
    <key>uni0E34</key>
    <string>uni0E_34.glif</string>
    <key>uni0E35</key>
    <string>uni0E_35.glif</string>
    <key>uni0E36</key>
    <string>uni0E_36.glif</string>
    <key>uni0E37</key>
    <string>uni0E_37.glif</string>
    <key>uni0E38</key>
    <string>uni0E_38.glif</string>
    <key>uni0E39</key>
    <string>uni0E_39.glif</string>
    <key>uni0E3A</key>
    <string>uni0E_3A_.glif</string>

    <key>uni0E3F</key>
    <string>uni0E_3F_.glif</string>

    <key>uni0E40</key>
    <string>uni0E_40.glif</string>
    <key>uni0E41</key>
    <string>uni0E_41.glif</string>
    <key>uni0E42</key>
    <string>uni0E_42.glif</string>
    <key>uni0E43</key>
    <string>uni0E_43.glif</string>
    <key>uni0E44</key>
    <string>uni0E_44.glif</string>
    <key>uni0E45</key>
    <string>uni0E_45.glif</string>
    <key>uni0E46</key>
    <string>uni0E_46.glif</string>
    <key>uni0E47</key>
    <string>uni0E_47.glif</string>
    <key>uni0E48</key>
    <string>uni0E_48.glif</string>
    <key>uni0E49</key>
    <string>uni0E_49.glif</string>
    <key>uni0E4A</key>
    <string>uni0E_4A_.glif</string>
    <key>uni0E4B</key>
    <string>uni0E_4B_.glif</string>
    <key>uni0E4C</key>
    <string>uni0E_4C_.glif</string>
    <key>uni0E4D</key>
    <string>uni0E_4D_.glif</string>
    <key>uni0E4E</key>
    <string>uni0E_4E_.glif</string>
    <key>uni0E4F</key>
    <string>uni0E_4F_.glif</string>

    <key>uni0E4F0E480E48.liga</key>
    <string>uni0E_4F_0E_480E_48.liga.glif</string>
    
    <key>uni0E50</key>
    <string>uni0E_50.glif</string>
    <key>uni0E51</key>
    <string>uni0E_51.glif</string>
    <key>uni0E52</key>
    <string>uni0E_52.glif</string>
    <key>uni0E53</key>
    <string>uni0E_53.glif</string>
    <key>uni0E54</key>
    <string>uni0E_54.glif</string>
    <key>uni0E55</key>
    <string>uni0E_55.glif</string>
    <key>uni0E56</key>
    <string>uni0E_56.glif</string>
    <key>uni0E57</key>
    <string>uni0E_57.glif</string>
    <key>uni0E58</key>
    <string>uni0E_58.glif</string>
    <key>uni0E59</key>
    <string>uni0E_59.glif</string>
    <key>uni0E5A</key>
    <string>uni0E_5A_.glif</string>
    <key>uni0E5B</key>
    <string>uni0E_5B_.glif</string>

    <!-- Shift Down -->
    <key>uni0E38.sd</key>
    <string>uni0E_38.sd.glif</string>
    <key>uni0E39.sd</key>
    <string>uni0E_39.sd.glif</string>
    <key>uni0E3A.sd</key>
    <string>uni0E_3A_.sd.glif</string>

    <key>uni0E48.sd</key>
    <string>uni0E_48.sd.glif</string>
    <key>uni0E49.sd</key>
    <string>uni0E_49.sd.glif</string>
    <key>uni0E4A.sd</key>
    <string>uni0E_4A_.sd.glif</string>
    <key>uni0E4B.sd</key>
    <string>uni0E_4B_.sd.glif</string>
    <key>uni0E4C.sd</key>
    <string>uni0E_4C_.sd.glif</string>

    <!-- Shift Down-Left -->
    <key>uni0E48.sdl</key>
    <string>uni0E_48.sdl.glif</string>
    <key>uni0E49.sdl</key>
    <string>uni0E_49.sdl.glif</string>
    <key>uni0E4A.sdl</key>
    <string>uni0E_4A_.sdl.glif</string>
    <key>uni0E4B.sdl</key>
    <string>uni0E_4B_.sdl.glif</string>
    <key>uni0E4C.sdl</key>
    <string>uni0E_4C_.sdl.glif</string>

    <!-- Shift Left -->
    <key>uni0E31.sl</key>
    <string>uni0E_31.sl.glif</string>
    <key>uni0E34.sl</key>
    <string>uni0E_34.sl.glif</string>
    <key>uni0E35.sl</key>
    <string>uni0E_35.sl.glif</string>
    <key>uni0E36.sl</key>
    <string>uni0E_36.sl.glif</string>
    <key>uni0E37.sl</key>
    <string>uni0E_37.sl.glif</string>
    <key>uni0E47.sl</key>
    <string>uni0E_47.sl.glif</string>
    <key>uni0E48.sl</key>
    <string>uni0E_48.sl.glif</string>
    <key>uni0E49.sl</key>
    <string>uni0E_49.sl.glif</string>
    <key>uni0E4A.sl</key>
    <string>uni0E_4A_.sl.glif</string>
    <key>uni0E4B.sl</key>
    <string>uni0E_4B_.sl.glif</string>
    <key>uni0E4C.sl</key>
    <string>uni0E_4C_.sl.glif</string>
    <key>uni0E4D.sl</key>
    <string>uni0E_4D_.sl.glif</string>

    <!-- Shift Up -->
    <key>uni0E47.su</key>
    <string>uni0E_47.su.glif</string>
    <key>uni0E4D.su</key>
    <string>uni0E_4D_.su.glif</string>

    <!-- Shift Up-Left -->
    <key>uni0E47.sul</key>
    <string>uni0E_47.sul.glif</string>
    <key>uni0E4D.sul</key>
    <string>uni0E_4D_.sul.glif</string>

    <!-- Dotted Circle -->
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>

  </dict>
</plist>
